body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #000000;
}

.header {
    background-color: #3399cc;
}

.header-title {
    color: #ffffff;
    padding: 18px 0px 23px 16px;
    font-size: 38px;
    font-family: 'Century Gothic', sans-serif;
    font-weight: lighter;
    text-transform: capitalize;
}

.nav {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    height: 28px;
}

.nav-menu {
    display: flex;
    padding: 0px 6px;
}

.nav-list {
    display: flex;
    margin: 0px;
    padding: 0px 0px 0px 2px;
    list-style-type: none;
    text-transform: uppercase;
}

.nav-item a {
    padding: 6px 12px;
    color: inherit;
    text-decoration: none;
}

    .nav-item a:hover {
        background-color: #FF9900;
        color: #000000;
        border-left: 4px solid #ffffff;
    }

.nav-item {
    padding: 6px 0px;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
}

.blog-image {
    margin: 0px 20px 0px 0px;
    padding: 4px 2px 4px 2px;
}

    .blog-image img {
        width: 20px;
        height: 20px;
    }

.content h3 {
    margin: 20px 0px 4px 18px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
}

.contacts-content {
    display: flex;
    margin-left: 18px;
}

.contact-list-container {
    width: 20%;
    margin-top: 6px;
}

.contact-list-item {
    padding: 1px 0px 8px 10px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    border-top: 1px solid #C6C6C6;
    border-right: 1px solid #C6C6C6;
    border-left: 1px solid #C6C6C6;
    cursor: pointer;
}

    .contact-list-item:last-child {
        border-bottom: 1px solid #C6C6C6;
    }

    .contact-list-item h2 {
        margin-bottom: 0px;
        font-size: 22px;
        font-weight: 200;
    }

    .contact-list-item p {
        margin-top: 0px;
        padding-left: 4px;
        font-size: 11px;
        font-weight: 400;
    }

.contact-item {
    text-decoration: none;
    color: #000000;
}

.contact-list-item:hover {
    background-color: #CEE7F2 !important;
}

.contact-details-container {
    width: 30.5%;
    display: flex;
    padding-left: 70px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.contact-details {
    width: 100%;
}

.contact-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .contact-heading h2 {
        font-size: 22px;
        font-weight: 500;
    }

.contact-details p {
    font-size: 12px;
}

.contact-details-menu {
    width: 32%;
    display: flex;
    justify-content: space-between;
}

    .contact-details-menu span {
        display: flex;
        text-transform: uppercase;
        align-items: center;
        cursor: pointer;
    }

    .contact-details-menu p {
        font-size: 10px !important;
    }

.edit-icon {
    width: 12px;
    height: 12px;
}

.delete-icon {
    width: 12px;
    height: 12px;
    margin-right: 2px;
}

.contact-details span {
    display: flex;
}

    .contact-details span p:last-child {
        margin-left: 3px;
    }

.email-details {
    margin-top: 8px;
}

.mobile-details {
    margin: 14px 0px;
}

.website-details {
    margin-bottom: 16px;
}

.address-details {
    display: flex;
}

    .address-details p:last-child {
        width: 60%;
        margin-left: 6px;
    }

.contact-form-modal {
    width: 35.8%;
    display: block;
    background-color: #ffffff;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    margin-left: 22%;
    margin-top: 10%;
    padding: 30px 0px;
    box-shadow: 0px 0px 10px #000000;
}

.close-btn {
    margin-right: 30px;
    color: #939191;
    float: right;
    font-size: 30px;
    font-weight: bolder;
}

    .close-btn:hover {
        color: #000000;
        cursor: pointer;
    }

.contact-form {
    width: 75.5%;
    height: 380px;
    margin-left: 4%;
}

.form-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

button[type='submit'] {
    position: absolute;
    right: 22px;
    background-color: #437d09;
    width: 16%;
    color: #ffffff;
    margin: 10px 0px 0px 0px;
    padding: 5px 0px;
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    border: none;
    cursor: pointer;
}

.form-field {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
}

    .form-field label {
        display: flex;
        font-size: 10px;
        font-weight: 800;
        margin: 8px 0px 3px 0px;
    }

        .form-field label p {
            margin-left: 6px;
            color: #ff0000;
        }

.mandatory-field-message {
    margin-left: 22px;
    margin-bottom: 10px;
    color: #ff0000;
    font-family: 'noto sans',sans-serif;
    font-weight: 600;
}

.mandatory-field {
    color: #ff0000;
    margin-left: 8px;
}

input[type="text"] {
    font-size: 14px;
    padding: 6px 6px;
    font-family: 'Noto Sans', sans-serif;
}

.contact-field {
    display: flex;
    justify-content: space-between;
}

    .contact-field .form-field {
        width: 48%;
    }

textarea {
    resize: none;
    padding: 9px;
    font-family: 'Noto Sans', sans-serif;
}

.modal-bg-block {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.selected-item {
    background-color: #CEE7F2 !important;
}
